<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">A1p2ml*a!</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/merge_test_fusion2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">merge_test_fusion2</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Mapping des entités -->
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.Customer" />
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.Categorie" />
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.Article" />
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.GroupeOpt" />
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.Option" />
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.Commande" />
        <mapping class="com.ecommerce.praticboutic_backend_java.entities.StatutCmd" />
    </session-factory>
</hibernate-configuration>
